<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID"
	version="3.0">
  <display-name>YouDrive_Team11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

 <servlet>
  	<servlet-name>AuthenticationManager</servlet-name>
  	<servlet-class>YouDrive_Team11.Servlets.CustomerCtrl.AuthenticationManager</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>AuthenticationManager</servlet-name>
  		<url-pattern>/AuthenticationManager</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>UserManager</servlet-name>
  		<servlet-class>YouDrive_Team11.Servlets.CustomerCtrl.UserManager</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>UserManager</servlet-name>
  		<url-pattern>/UserManager</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
  		<servlet-name>ReservationManager</servlet-name>
  		<servlet-class>YouDrive_Team11.Servlets.ReservationCtrl.ReservationManager</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>ReservationManager</servlet-name>
  		<url-pattern>/ReservationManager</url-pattern>
  	</servlet-mapping>
  	
   	<servlet>
  		<servlet-name>MembershipManager</servlet-name>
  		<servlet-class>YouDrive_Team11.Servlets.ReservationCtrl.MembershipManager</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>MembershipManager</servlet-name>
  		<url-pattern>/MembershipManager</url-pattern>
  	</servlet-mapping>
  	
  	 <servlet>
  		<servlet-name>PaymentManager</servlet-name>
  		<servlet-class>YouDrive_Team11.Servlets.ReservationCtrl.PaymentManager</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>PaymentManager</servlet-name>
  		<url-pattern>/PaymentManager</url-pattern>
  	</servlet-mapping>

  	 <servlet>
  		<servlet-name>LocationAdminManager</servlet-name>
  		<servlet-class>YouDrive_Team11.Servlets.AdminCtrl.LocationAdminManager</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>LocationAdminManager</servlet-name>
  		<url-pattern>/LocationAdminManager</url-pattern>
  	</servlet-mapping>
  	
  	 <servlet>
  		<servlet-name>UserAdminManager</servlet-name>
  		<servlet-class>YouDrive_Team11.Servlets.AdminCtrl.UserAdminManager</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>UserAdminManager</servlet-name>
  		<url-pattern>/UserAdminManager</url-pattern>
  	</servlet-mapping>

  	 <servlet>
  		<servlet-name>VehicleAdminManager</servlet-name>
  		<servlet-class>YouDrive_Team11.Servlets.AdminCtrl.VehicleAdminManager</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>VehicleAdminManager</servlet-name>
  		<url-pattern>/VehicleAdminManager</url-pattern>
  	</servlet-mapping>
</web-app>
